/images/

# A file to act as my DrRacket interactions area as I read through the book
/scratch.rkt

# Filenames used to demonstrate the 2htdp/batch-io library.
/sample.dat
/out.dat

# Support .txt files for Exercise 31.
/ex-031-*.txt

/ttt.txt
/ttt.dat
/no-articles-ttt.txt
/encoded-ttt.txt